body {
}

h1 {
    text-align: center;
}

#nav {
    display: flex;
    justify-content: center;
}

select,
button {
    margin: 5px;
}

#visual {
    border: 2px black solid;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 750px;
    transform: translateX(-50%) translateY(-50%);
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#animation {
    height: 90%;
    width: 90%;
    border: 1px rgb(119, 187, 211) solid;
    display: flex;
    justify-content: space-around;
    transform: rotateX(180deg);
}

.bar {
    background-color: black;
    height: 50px;
    margin: 1px;
    flex: 1;
    transition: height 0.5s;
}

.comparing {
    background-color: pink;
}

.done {
    background-color: rgb(150, 238, 120);
}

.leftArray {
    background-color: rgb(154, 223, 244);
}

.rightArray {
    background-color: rgb(206, 204, 143);
}
